# Assignment 1

### By: Alia ElHalawany and Malak Selim

In [2]:
import pandas as pd

In [20]:
df = pd.read_csv("Life Expectancy Data.csv")

In [21]:
df.head(3)

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
0,Afghanistan,2015,Developing,65.0,263.0,62,0.01,71.279624,65.0,1154,...,6.0,8.16,65.0,0.1,584.259210,33736494.0,17.2,17.3,0.479,10.1
1,Afghanistan,2014,Developing,59.9,271.0,64,0.01,73.523582,62.0,492,...,58.0,8.18,62.0,0.1,612.696514,327582.0,17.5,17.5,0.476,10.0
2,Afghanistan,2013,Developing,59.9,268.0,66,0.01,73.219243,64.0,430,...,62.0,8.13,64.0,0.1,631.744976,31731688.0,17.7,17.7,0.470,9.9

In [24]:
df.columns

Index(['Country', 'Year', 'Status', 'Life expectancy ', 'Adult Mortality',
       'infant deaths', 'Alcohol', 'percentage expenditure', 'Hepatitis B',
       'Measles ', ' BMI ', 'under-five deaths ', 'Polio', 'Total expenditure',
       'Diphtheria ', ' HIV/AIDS', 'GDP', 'Population',
       ' thinness  1-19 years', ' thinness 5-9 years',
       'Income composition of resources', 'Schooling'],
      dtype='object')

In [25]:
df['Life expectancy '].mean()

69.22493169398912

In [26]:
df['Life expectancy '].median()

72.1

In [29]:
df['Life expectancy '].quantile(.25)

63.1

In [30]:
df['Life expectancy '].quantile(.5)

72.1

In [31]:
df['Life expectancy '].quantile(.75)

75.7

In [32]:
df['Life expectancy '].var()

90.70405192563634

In [33]:
df['Life expectancy '].std()

9.523867487824278

In [48]:
df['Life expectancy '].max()-df['Life expectancy '].min()

52.7

In [34]:
df['Adult Mortality'].mean()

164.79644808743168

In [35]:
df['Adult Mortality'].median()

144.0

In [36]:
df['Adult Mortality'].quantile(.25)

74.0

In [37]:
df['Adult Mortality'].quantile(.5)

144.0

In [38]:
df['Adult Mortality'].quantile(.75)

228.0

In [39]:
df['Adult Mortality'].var()

15448.5209029929

In [40]:
df['Adult Mortality'].std()

124.29207900342202

In [49]:
df['Adult Mortality'].max()-df['Adult Mortality'].min()

722.0

In [41]:
df['infant deaths'].mean()

30.303948264125257

In [42]:
df['infant deaths'].median()

3.0

the large difference bwteen the mean and the median suggests the presence of outliers

In [43]:
df['infant deaths'].quantile(.25)

0.0

In [44]:
df['infant deaths'].quantile(.5)

3.0

In [45]:
df['infant deaths'].quantile(.75)

22.0

In [46]:
df['infant deaths'].var()

13906.659712018884

In [47]:
df['infant deaths'].std()

117.9265013133981

In [50]:
df['infant deaths'].max()-df['infant deaths'].min()

1800

In [51]:
df['percentage expenditure'].mean()

738.2512954533823

In [52]:
df['percentage expenditure'].median()

64.912906045

In [53]:
df['percentage expenditure'].quantile(.25)

4.68534258525

In [54]:
df['percentage expenditure'].quantile(.75)

441.53414435

In [55]:
df['percentage expenditure'].var()

3951805.4827215625

In [56]:
df['percentage expenditure'].std()

1987.9148580161984

In [57]:
df['percentage expenditure'].max()-df['percentage expenditure'].min()

19479.91161